.list {
    max-width: 200px;
}

.list .legend img {
    width: 25%;
    border-radius: 50%;
}

.list .legend {
    background-color: #6b727a;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    transition: 0.15 ease-in-out;
}

.list .legend:hover {
    transform: scale(1.05);
}

.list .legend span {
    padding-right: 20px;
}

.list .legend.active {
    background-color: #e8d463;
}